[submodule "support/twine"]
	path = support/twine
	url = https://github.com/neonstalwart/twine.git
[submodule "support/requirejs"]
	path = support/requirejs
	url = https://github.com/jrburke/requirejs.git
