[submodule "support/twine"]
	path = support/twine
	url = https://github.com/neonstalwart/twine.git
[submodule "support/dojo"]
	path = support/dojo
	url = https://github.com/dojo/dojo.git
[submodule "support/dijit"]
	path = support/dijit
	url = https://github.com/dojo/dijit.git
